#content_title
  %h3.float-left ブックマーク一覧
  = link_to '新規追加', new_bookmark_path, data: {remote: true}, class: "float-right btn btn-primary"
  #bookmark-modal.modal.fade{:tabindex => "-1", :role => "dialog", :aria => { :hidden => "true" }}
%table.table.table-striped.table-hover.table-sm
  %thead.thead-dark
    %tr
      %td id
      %td タイトル
      %td url
      %td 詳細
      %td 編集
      %td 削除
  %tbody
    - @bookmarks.each do |bm|
      = render 'tr', bookmark: bm
