= stylesheet_link_tag 'index'

#content_title
  %h3.float-left ブックマーク一覧
  = link_to '新規追加', new_bookmark_path, data: {remote: true}, class: "float-right btn btn-primary"
%table.table.table-striped.table-hover.table-sm
  %thead.thead-dark
    %tr
      %td.id id
      %td.title タイトル
      %td.url url
      %td.edit 編集
      %td.delete 削除
  %tbody
    - @bookmarks.each do |bookmark|
      = render 'tr', bookmark: bookmark
#bookmark-modal.modal.fade{:tabindex => "-1", :role => "dialog", :aria => { :hidden => "true" }}
